/*fsddfdf*/


/*Estilos generales*/

*{

    padding: 0px;
    margin: 0px;
    
}

body{
background-color: pink;
background-size: 100%;
 
   
}

#header{

min-width: 1024px;
width: 100%;
height: 250px;
margin-top: 40px;

}

#Logotipo > img{

margin-left: 38%;
height: 1100px;
}

h1{

font-family: Arial, Helvetica, sans-serif;
text-align: center;
padding-bottom: 30px;

}

#header > div > img{

height: 300px;

}

h1 > a {

text-decoration: none;
color: #9a2b29;
text-transform: uppercase;
;
}

h1 :hover{

    color: #e91310;
    text-decoration: underline;
    transition: 1000ms;
}

h1  :active{

    color: #750806;
    text-decoration: none;
    transition: all 100ms;

}


/*Menu de la pàgina*/


menu{




   
}


#menu > ul > li{
padding-right:35px;
margin-left: 5px;
display: inline-block;

}

#menu > ul >li > a{
text-decoration: none;
color: rgb(250, 249, 249);
font-family: Verdana, Geneva, Tahoma, sans-serif;



}

#menu > ul{
text-align: center;
background-color:#8e005f ;
height: 60px;

}


#menu > ul >li > a:hover{

color: rgb(180, 177, 177);
text-decoration: underline;
box-shadow: 0px 0px 3px rgb(71, 70, 70) ;
transition: all 600ms;

}

#menu > ul >li > a:active{

color: rgb(100, 95, 95);
text-decoration: none;
box-shadow: 0px 0px 5px rgb(87, 85, 85) inset;


}



/*menu desplegable */
#menu > ul > li > ul{

    display: none;
    position: absolute;
    width: 360px;
    z-index: 5;
    box-shadow: 0px 0px 2px gray;
    text-align: left;
}


#menu > ul > li:hover > ul{

background-color:#8e0000;
display: block;
width: 200px;

}
#menu > ul > li:hover > ul >li > a{
color: white;
text-decoration: none;


}

#menu > ul > li:hover > ul >li > a:hover{

    color: rgb(180, 177, 177);
    text-decoration: underline;
    box-shadow: 0px 0px 3px rgb(71, 70, 70) ;
    transition: all 600ms;

    
}


#menu > ul > li:hover > ul >li > a:active{


    color: rgb(100, 95, 95);
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(87, 85, 85) inset;

}


#menu > ul > li:hover > ul >li{


margin-top: 7px;

}
/*fin del menu desplegable*/











/* Inicio del footer*/


footer{
margin-top: 100%;
height: 200px;
background-color: rgb(223, 80, 14);
width: 100%;
}


footer > div {

text-align: center;
color: black

}


footer > div > ul > li > a{




}

/*Fin del footer*/

